p{
    color: brown;
}
li{
    text-decoration: underline;
    font-size: x-large;
    margin: 20px;
    color: blueviolet;

}
img{
    width: 100px;
    height: 100px;
    padding: 40px 40px 10px 70px;
    /* padding-bottom: 50px; */
}